@{
    ViewData["Title"] = "Get To Know Joel";
}

<h1> Get to Know Joel</h1>

<ul>
    <li><a href="https:www.qwcomedy.com/" target="_blank" rel="noopener noreferrer">Quick Wits Comedy</a></li>
    <li><a href="https://baconsale.com/" target="_blank_" rel="noopener noreferrer">Baconsale</a></li>
</ul>

<a href="https://baconsale.com/" target="_blank" rel="noopener noreferrer">
    <img src="~/img/baconsale.jpg" alt="Baconsale" style="max-width: 450px; width: 100%; height: auto;" />
</a>